

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    font-family: sans-serif;
    }

header{

display: flex;
align-items: center;
justify-content: space-between;
padding: 2rem;
background-color: #ececec; /* Cambio de color*/

}

    .logo{
        max-width: 5rem;
    }

    .nav-list {
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }

    .nav-list li a {
        text-decoration: none;
        color: #1c1c1c;
    }

    .abrir-menu, .cerrar-menu {
        display: none;
    }

    @media screen and (max-width: 550px){
        .abrir-menu, 
        .cerrar-menu {
            display: block;
        }

        .nav {
        opacity: 0;
        visibility: hidden;
        display:flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgb(0, 0, .5);
        }

        .nav.visible{
            opacity: 1;
            visibility: visible; 
        }

        .nav-list {
        flex-direction: column;
        align-items: end;
    }

        .nav-list li a {
        color: #ececec; 
        }
     
    }
/*
h1,h2,p,#components{
    text-align: center;
    align-content: center;
}

body {
    background-image: url(https://image.slidesdocs.com/responsive-images/background/leaves-green-nature-water-blooming-beautiful-powerpoint-background_82e92c9873__960_540.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

#header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

#components {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

#footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;} 




#diagrama {
  width: 30%;
  height: 15%;
}
ul {
    margin: 0; 
    padding: 0;
    padding-left: 0%; 
    list-style-position: outside; 
    list-style-type: disc; 
    text-align: left; 
    line-height: 1.5; 
    font-size: 16px; 
}

li {
    margin: 0; 
    padding: 0; 
    line-height: 1.5; 
    font-size: 16px; 
    color: #333; 

}

#code{
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto; 
    white-space: pre-wrap; 
    font-size: 14px; 
    text-align: center;
}


p {
    margin: 10px 0;
    line-height: 1.6; 
    font-size: 16px; 
    text-align: center;
}


input, select, button {
      margin: 10px 0;
      padding: 8px;
      font-size: 16px;
    }
    #calendar {
      margin-top: 30px;
      max-width: 900px;
    }

     .descripcion {
      background: #f0f0f0;
      padding: 10px;
      margin-bottom: 10px;
      border-left: 4px solid #00a651;
    }

*/
    